* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body,
main {
    display: grid;
    place-items: center;
}

body {
    height: 100vh;
}

main {
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    width: fit-content;
    @media (max-width: 480px) {
        font-size: 1.25rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100%;
    width: min-content;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

h2 {
    color: #252b37;
    font-size: 1.25rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    width: 75px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button:nth-child(1) {
    background-color: #37cf3c;
    box-shadow: 0 0 5px #252b37;
}

button:nth-child(1):hover {
    background-color: #45a049;
    box-shadow: none;
}

button:nth-child(2) {
    background-color: #f44336;
    box-shadow: 0 0 5px #252b37;
}

button:nth-child(2):hover {
    background-color: #d32f2f;
    box-shadow: none;
}

#restartBtn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #252b37;
  color: white;
  font-weight: 700;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 5px #252b37;
}

#restartBtn:active,
#restartBtn:focus {
  outline: 2px solid #fb7624;
}

#restartBtn:hover{
  background-color: #5f81c2;
}

p {
    font-size: 1.25rem;
    font-weight: 700;
}
